*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
}

/* SECTION HEADER */

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(https://wallpaperaccess.com/full/2690553.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    align-items: center;
    justify-content: space-between;
}

nav img{
    width: 100px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: rgb(227, 211, 211);
    text-decoration: none;
    font-size: 35px;
}

.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 3px;
    background: #f44;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 60px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 40px;
    color: #fff;
    line-height: 35px;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44;
    background: #f44;
    transition: 1s;
}

nav .fa-xmark, nav .fa-bars{
    display: none;
}


@media (max-width: 900px){
    nav img{
        width: 80px;
    }
    .text-box h1{
        font-size: 20px;
    }
    .text-box p{
        font-size: 13px;
    }
    .hero-btn{
        font-size: 12px;
        padding: 10px 13px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: rgba(27, 24, 24, 0.958);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: .7s;
        box-shadow: rgb(26, 23, 23);
    }
    nav .fa-xmark, nav .fa-bars{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
}


/* TERMINA SECTION HEADER */

/* SERRVIES SECTION */

.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #090909;
    font-size: 14px;
    font-weight:500 ;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.services-col{
    flex-basis: 31%;
    background-image: url(https://media.cntraveler.com/photos/5dc2fa2a720876000979249b/16:9/w_2560%2Cc_limit/Hilton_Opus-Bar--Grill---Close-up-w.-2-chef-in-action.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.services-col2{
    flex-basis: 31%;
    background-image: url(https://img1.10bestmedia.com/Images/Photos/381478/spa-1low_54_990x660.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.services-col3{
    flex-basis: 31%;
    background-image: url(https://www.verobeachhotelandspa.com/images/1700-960/01-photogalleryhero-912d152d.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}



h3{
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
}

.parrafo{
    color: white;
}

.services-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.914);
}

.services-col2:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.914);
}

.services-col3:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.914);
}

@media (max-width:900px){
    .row{
        flex-direction: column;
    }
}


/* SECTION ROOMS */


.rooms{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.beach-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.beach-col img{
    height: 100%;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(22, 21, 21, 0.7);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}


.row2{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

@media (max-width:900px){
    .row2{
        flex-direction: column;
    }
    .beach-col img{
        width: 100%;
    }
}

/* facilities */

.facilities{
    width: 80%;
    text-align: center;
    padding: 30px;
    margin: auto;
}

.row3{
    display: flex;
    margin: 5%;
    justify-content: space-between;
}

.facilities-col{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    max-height: 600px;
    background: #1d1b1b15;
    border-radius: 10px;
}

.facilities-col img{
    height: 240px;
    border-radius: 10px;
    
}

@media (max-width:900px){
    .row3{
        flex-direction: column;
    }
    .facilities-col{
        margin: 10px;
        
    }
    .facilities-col img{
        width: 100%;
    }
}

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://images.squarespace-cdn.com/content/v1/55958b23e4b01787e518a428/1437070822044-HSJ12DMA4BYUSOAALSRV/hotel-bell-customer-service-ss-1920.jpg?format=1500w);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0 ;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    font-size: 25px;
    padding: 0;
}

@media (max-width:600px) {
    .cta h1{
        font-size: 15px;
    }
}

/* FOOTER  */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons {
    color: red;
}

.fa-facebook-f , .fa-twitter, .fa-instagram , .fa-linkedin-in{
    margin: 10px;
    font-size: 30px;
}